# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/wvlet-ui-main"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/wvlet-ui-playground"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "weekly"
    groups:
      # Grouping Docusaurus module updates into a single PR
      docusaurus:
        patterns:
          - "@docusaurus/*"  
