*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

logs/

*~
.metals
.idea
tmp

*~
build
.bundle
vendor/bundle
*.iml
.idea
atlassian-ide-plugin.xml
target
result
log-test.properties
.DS_Store
project/ts-importer
.metals
.bloop
metals.sbt
.bsp
log
node_modules
venv
dist

.ipynb_checkpoints
.cache
.scala-build
.claude/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# playground will be built at CI
website/static/playground
