name: Native

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - '.github/workflows/native.yml'
              - 'project/**'
              - '**.scala'
              - '**.sbt'
              - '**.conf'
              - '**.json'
              - '**.wv'
              - SCALA_VERSION
  build_native:
    name: Cross build with Scala Native
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        include:
# TODO This works, but binary signing and notarization is required
#          - os: macos-latest
#            arch: arm64
#            name: mac
# TODO It seems arm64 is not available yet (2024-11)
          - os: ubuntu-24.04-arm
            arch: arm64
            name: linux
          - os: ubuntu-latest
            arch: x64
            name: linux
# TODO Need some tweaks to run sbt on Windows
#          - os: windows-latest
#            arch: x64
#            name: windows
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '23'
          cache: sbt
      - name: Install libgc
        run: sudo apt-get install libgc-dev
      - name: Set SCALA_VERSION env
        run: |
          SCALA_VERSION=$(cat SCALA_VERSION)
          echo SCALA_VERSION: $SCALA_VERSION
          echo "SCALA_VERSION=$SCALA_VERSION" >> $GITHUB_ENV
      - name: Build native binary
        run: |
          ./sbt 'wvc/nativeLinkReleaseFast'
          cp wvc/target/scala-${{ env.SCALA_VERSION }}/wvc-release-fast \
          wvc-${{ matrix.name }}-${{ matrix.arch }}
      - name: Upload native binary
        uses: actions/upload-artifact@v4
        with:
          name: wvc-${{ matrix.name }}-${{ matrix.arch }}
          path: wvc-${{ matrix.name }}-${{ matrix.arch }}
  collect_artifact:
    name: Collect wvc binaries
    runs-on: ubuntu-latest
    needs: build_native
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: wvc-binaries
          delete-merged: true
