name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - release
      - 'releases/**'
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: dorny/paths-filter@v3
        id: cahnges
        with:
          filters: |
            src:
              - '.github/**'
              - 'project/**'
              - '**.scala'
              - '**.sbt'
              - '**.conf'
              - '**.json'
              - '**.wv'
  code_format:
    name: Code format
    needs: changes
    if: steps.changes.outputs.src == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: scalafmt
        run: ./sbt scalafmtCheckAll
  test_scala_3:
    name: Scala 3
    needs: changes
    if: steps.changes.outputs.src == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '22'
          cache: sbt
      - name: Scala 3.x test
        run: ./sbt projectJVM/test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/test-reports/TEST-*.xml'
          check_name: Test Report Scala 3.x
          annotate_only: true
          detailed_summary: true
  test_js:
    name: Scala.js
    needs: changes
    if: steps.changes.outputs.src == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache ScalablyTyped artifacts
        id: cache-scalablytyped
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-scalablytyped-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-scalablytyped-node-
          path: |
            ~/.ivy2/local
            ~/.ivy2/cache
            ~/.sbt
            ~/.cache
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '22'
          cache: sbt
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: npm
          cache-dependency-path: ./wvlet-ui-main/package-lock.json
      - name: Install npm dependencies for testing wvlet-ui
        run: npm install
      - name: Install npm dependencies for ui-main
        run: npm install
        working-directory: ./wvlet-ui-main
      - name: Scala.js test
        run: JVM_OPTS=-Xmx4g ./sbt "projectJS/test"
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/test-reports/TEST-*.xml'
          check_name: Test Report Scala.js
          annotate_only: true
          detailed_summary: true
